audio {
  margin-top: 10px;
}

.logo {
  position: absolute;
  right: 26px;
}

.chip {
  padding: 5px;
  background: #fff;
  border: 1px solid #999;
  color: #999;
  display: inline-block;
  border-radius: 20px;
  margin-right: 3px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.hidden {
  display: none;
}

.name {
  cursor: pointer;
}